.correct{
    color: green;
    background-color: white;
}
.wrong{
    color: red;
    background-color: white;
}
.Text{
    position: relative;
    font-family: monospace;
    color: gray;
    font-size: 180%;
    outline: none;
}
.hidden{
    position: relative;
    z-index: -1;
    left:-100%;
}
.enteredText{
    inset: 0 0;
    position: absolute;
    color: black;
}