.NavBar{
    height: auto;
    padding: 1%;
}
.actionBtn{
    font-family: 'Montserrat', sans-serif;
    -webkit-text-fill-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 200%;
    background: var(--yellow-gradient);
    position: relative;
    background-clip: text;
}
.actionBtn:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--yellow);
}