@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

.Text{
    font-family: var(--typing-font);
    font-size: 1.8vw;
    line-height: 5vh;
    position: relative;
    color: gray;
    padding:2vw 5vw;
}
.correct{
    color: var(--correct-color);
    background: var(--typing-background);
}
.wrong{
    color: var(--wrong-color);
    background: var(--typing-background);
}
.hidden{
    position: relative;
    z-index: -1;
    left:-1000%;
}
.enteredText{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2vw 5vw;
}
.score{
    background: var(--info-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}