.heading{
    font-size: 22vh;
    font-weight: 800;
    -webkit-text-stroke: 1px #32a852;
    color: transparent;
    max-width: max-content;
    border-right: 4px solid green;
    background:var(--green);
    background-clip: text;
    animation: fillText 10s forwards,blink 900ms 10000;
    font-family: 'Lora', serif;
    text-align: center;
}
.headingDiv{
    display: flex;
    padding-left: 20vw;
}
@keyframes fillText {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}
.Home{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr 0.1fr 0.3fr;
}
.googleBtn{
    font-family: var(--font-family);
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    max-height: fit-content;
    max-width: fit-content;
    cursor: pointer;
    align-items: center;
    padding: 0.2vw 0.7vw 0.2vw 0.7vw;
}
.btnText{
    background: black;
    color: var(--google-btn);
    font-weight: 500;
    font-size: 2.5vh;
    padding: 1vw;
    border-radius: 0.3vw;
}
.btnText:hover{
    color: var(--yellow);
}
.googleLogo{
    max-width:5.5vw;
    max-height: 5.5vh;
    border: 3px solid black;
    border-radius: 0.3vw;
    padding: 0.1vw;
    background: black;
}
.down-arrows{
    max-width: 10vw;
    max-height: 12vh;
    border: 3px solid var(--yellow);
    border-radius: 8vw;
    padding: 1.5vw;
    background: var(--yellow-gradient);
}
.arrow{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.art{
    min-width: 50vw;
    min-height: 50vh;
    border: 2px solid var(--yellow);
    border-radius: 8vw;
    padding: 1.5vw;
}
.info{
    font-family: var(--font-family);
    display: flex;
    margin-top: 32vh;
    padding: 5vh 5vh 10vh 5vh;
    font-size: 2vw;
    text-align: justify;
    line-height:3vw;
    align-items: center;
    justify-content: space-between;
}
.text{
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: transparent;
    background: var(--yellow-gradient);
    background-clip: text;
    -webkit-background-clip: text;
}
.homeButtons{
    background-image: linear-gradient(to right, #000000 0%, #0f9b0f  51%, #000000  100%);
    font-family: var(--font-family);
    color: var(--google-btn);
    font-weight: 900;
    font-size: 2vw;
    padding: 4vw;
    border-radius: 15px 150px 30px;
    border: none;
    box-shadow: -0.3vw 0.2vw #6b8f68;
    transition: 0.5s;
    background-size: 200% auto;
    cursor: pointer;
    width: 24vw;
} 
.homeButtons:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.btnGrp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5vw;
    justify-items: center;
    padding: 10vw 20vw 10vw 20vw;
}
.submitBtn{
    background: var(--info-gradient);
    font-family: var(--font-family);
    font-size: 1.5vw;
    padding: 1vh 2.5vw 1vh 2.5vw;
    cursor: pointer;
    border: none;
    border-radius: 2vw;
}
.submitBtn:hover{
    background: var(--btn-gradient);
    color: var(--google-btn);
}
.inputDiv{
    display: flex;
    justify-content: center;
    padding: 2vw;
}
.roomInputField{
    min-height: 4vh;
    min-width: 37vw; 
    border-radius: 2vw;
    font-family: var(--font-family);
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
}
.contentHeading{
    padding: 1vw;
    font-size: 1.7vw;
    display: flex;
    justify-content: center;
}