.Profile{
    min-height: 100vh;
    min-width: 100vw;
    color: var(--google-btn);
    font-family: var(--font-family);
    display: grid;
    grid-template-areas: "navbar navbar""leftPane chart";
    column-gap: 3vw;
}
.NavBar{
    grid-area: navbar;
}
.LeftPane{
    margin-top: -6vw;
    margin-left: 2vw;
    grid-area: leftPane;
    border: 1px solid var(--yellow);
    box-shadow: 0vw 0vw 1vw var(--yellow);
    border-radius: 4vw;
    background: var(--profile-section);
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.chart{
    border: 2px solid var(--yellow);
    box-shadow: 0vw 0vw 1vw var(--yellow);
    padding: 1vw;
    border-radius: 3vw;
    grid-area: chart;
    margin-left: -1vw;
}
.profile-avatar{
    max-width: 10vw;
    max-height: 50vh;
    padding: 2vw;
    border: 0.1vw solid var(--yellow);
    border-radius: 3vw;
    box-shadow: 0vw 0vw 0.7vw var(--yellow);    
}
.user-name{
    grid-area: username;
}
.user-email{
    grid-area: email;
}
.user-joined{
    grid-area: userjoined;
}
.user-img{
    grid-area: avatar;
}
.profile-info{
    display: grid;
    grid-template-areas: 
    "avatar username"
    "avatar email"
    "avatar userjoined";
    max-width: 35vw;
    padding: 3vw;
    font-size: 1.5vw;
    align-items: center;
    column-gap: 1vw;
    row-gap: 0.1vw;
}
.stats{
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    line-height: 4.5vh;
    border-top: 1px solid gray;
}