@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@500&family=Roboto+Mono&display=swap');
:root{
    --green:linear-gradient(#07eb44,#32a852);
    --green-gradient:linear-gradient(#1D976C,#32a852,#93F9B9);
    --background:linear-gradient(#0f0d0e,#2c2e2b);
    --yellow-hover:#fccc62;
    --yellow:#fcba28;
    --yellow-gradient:linear-gradient(#dbfa8c,#b9f71b);
    --info-gradient:linear-gradient(#2dfc80,#0ff5b0);
    --btn-gradient:linear-gradient(#5cf2c5,#24c9b1);
    --btn-gradient-hover:linear-gradient(#affae3,#8af2d3,#61edc3);
    --google-btn:#f9f4da;
    --font-family: 'Montserrat', sans-serif;
    --typing-font:'Roboto Mono', monospace;
    --correct-color:#f9f4da;
    --wrong-color:#e84848;
    --typing-background:#0f0d0e;
    --profile-section:#292b29;
    background: var(--background);
  }
html{
    scroll-behavior: smooth;
}
