@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@500&display=swap');
:root{
    --green:linear-gradient(#07eb44,#32a852);
    --background:linear-gradient(#161716,#3f423e);
    --yellow:#dcfc49;
    --yellow-gradient:linear-gradient(#dbfa8c,#b9f71b);
    --info-gradient:linear-gradient(#2dfc80,#0ff5b0);
    --google-btn:#E9E9E9;
    background: var(--background);
  }
html{
    scroll-behavior: smooth;
}
